/* Palette for vscode extension */
/* Thanks: https://palettte.app/ */
/* See more: https://coolors.co/001634-0e2d56-274a78-4b6d9a-7a96bb-fa5c6c-4da167 */
:root {
  --transparent: transparent;
  --danger: #fa5c6c;
  --success: #4da167;
  --dark-blue: #001634;
  --bold-blue: #0e2d56;
  --medium-blue: #274a78;
  --light-blue: #4b6d9a;
  --lighter-blue: #7a96bb;
  --lightest-blue: #b4c6dd;
  --white: #f9fcff;
}

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  outline: none;
}

button:focus-visible {
  outline: revert;
}

nav {
  @apply z-50 bg-bold-blue text-white px-2 py-2.5 sm:px-4;
  box-shadow: 0px 3px 6px 0px theme("colors.dark-blue");
}

main {
  @apply p-4;
}

footer {
  @apply gap-1 flexJustifyCenter bg-bold-blue text-white h-24 w-full border-t border-t-dark-blue;
  box-shadow: 0px -3px 6px 0px theme("colors.dark-blue");
}

.flexJustifyCenter {
  @apply flex justify-center items-center;
}

.flexJustifySpaceBetween {
  @apply flex justify-between items-center;
}

.noInteraction {
  @apply cursor-pointer pointer-events-none;
}
