:root {
  --primary: #0d2d56;
  --secondary: #47668f;
  --darkgrey: #232C38;
  --lightgrey: #5A718F;
  --darkborder: #01102499;
  --white: #f9f9f9;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  min-height: 100vh;
  padding: 3rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  height: 100px;
  color: var(--white);
  background-color: var(--darkgrey);
  border-top: 1px solid var(--darkborder);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

button {
  text-transform: uppercase;
}

.flexJustifyCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexJustifySpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexColumn {
  flex-direction: column;
}

.noInteraction {
  cursor: pointer;
  pointer-events: none;
}